<!DOCTYPE html>
<html lang="en">
<head>
    <title>Javascript Game</title>
    <meta charset="UTF-8">
    <!-- http://proger.i-forge.net/The_smallest_transparent_pixel/ -->
    <link rel="icon" href="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/game.js" defer></script>
</head>
<body>
    <div class="game-info-fields">
        <div class="scores">Scores:</div>
        <div class="scores" id="score-counter">0</div>
        <div class="count-down">180</div>
        <div class="buttons">
            <audio id="start_game_sound" src="/static/sounds/start_game.mp3"> </audio>
            <button onclick="document.getElementById('start_game_sound').play()" type="button" id="start-button">Start Game</button>
        </div>
        <div class="buttons"><button type="button" id="new-game-button"><a href="{{ url_for("home") }}">New Game</a></button></div>
    </div>
    <div class="board"></div>

</body>
</html>